<h1>Question:</h1>
<%byebug %>

<% if flash[:msg] %>
  <div class="message"><%= flash[:msg] %></div>
<% end %>

<h2><%= @question.question_text %></h2><br><br>



<h4>Answer choices:</h4>
<ul>
  <% @question.all_answers.shuffle.each do |answer| %>
  <li><%= answer %></li><br>
  <% end %>
</ul><br><br>
<h3>Enter your answer</h3>
<%= form_for @answer do |f| %>
    
    <%= f.label :text %>
    <%= f.text_field :text %>
  

    <%= f.hidden_field :question_id, value: @question.id  %>


    <%= f.submit "Submit Answer"%>

<% end %>


 
<%= link_to "next question", question_path(Question.all.where(category: "#{@question.category}").sample) %>
<br>
<br>
<%= link_to "End the Game.", teams_path %>