<h1>Question:</h1>

<h2><%= @question.question_text %></h2><br><br>



<h3>Enter your answer</h3>


    <%= form_for @answer do |f| %>
        
        <%= f.label :text %>
        <%= f.text_field :text %>

        <%= f.hidden_field :question_id, value: @question.id  %>

        <%= f.submit "Submit Answer"%>

    <% end %>



<br>
<br>
<%= link_to "next question", question_path(Question.all.sample.id) %>




      

