<h1>Enter your answer</h1>
    <%= form_for @team_answer do |f| %>
        
        <%= f.label :text%>
        <%= f.text_field :text%>
        <%= f.hidden_field :question_id, value: @question_id %>


        <%= f.submit "Submit Answer"%>

    <% end %>