

<% if flash[:correct] %>
  <div class="correct-message"><%= flash[:correct] %></div>
<% end %>
<% if flash[:wrong] %>
  <div class="wrong-message"><%= flash[:wrong] %></div>
<% end %>
<% if flash[:msg] %>
  <div class="no-message"><%= flash[:msg] %></div>
<% end %>

<h1>Ok here is your question:</h1>

<h2>
  <% random = @team.round.questions.sample %>
  <% q = random.question_text %>
  <%= CGI.unescapeHTML(q) %>
</h2>
<br>
<br>


<container class = "answer-form">

<%= form_for @answer do |f| %>
  
  <% random.all_answers.shuffle.each do |answer| %>

    <ol>
    <li class="answers">
    <%= f.radio_button :text, answer, {style:"display:inline"} %>
    <%= f.label :text, answer %>
    </ol>

  <% end %>
   
  
  <%= f.hidden_field :team_id, value: @team.id  %>
  <%= f.hidden_field :question_id, value: random.id  %>
  <%= f.submit "Submit Answer", :class => 'submit' %>
<% end %>
</container>


<br>
<div class="foot">
<%= link_to "Change Team Name", edit_team_path(@team)%>
<%= link_to "Scoreboard", scoreboard_path(@team.round.scoreboard)%>
<%= link_to "End Game", teams_path %>
</div>