<h1>Create a Team</h1>

<ul>
    <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
</ul>
<br>
<br>

<%= form_for @round do |f| %>

    <%= f.fields_for :team, Team.new do |team_fields| %>
        <%= team_fields.label :team_name %>
        <%= team_fields.text_field :team_name %>
    <% end %>

    <%= f.hidden_field :team_id, value: @team.id%>

    <%= f.submit "Create Team" %>
<% end %>

