<head>
<%= stylesheet_link_tag '/teams.scss'%>
</head>

<h1 class="team">Teeeeaaaaam <%= @team.team_name %>!!!</h1>
<% @@team = @team.team_name %>

<%# <h2>Let's get ready to rrrummbllleeeee!</h2> %>

<p class="score">Your current score is <%= @team.score %></p>


<%= render 'teams/question' %>

<%= link_to "Scoreboard", scoreboard_path(@team.round.scoreboard)%>

