<head>
    <%= stylesheet_link_tag '/scoreboards.scss' %>
</head>
<container class="whole-page">
    <h3>Team Scores:</h3>
    <container class="top-box">
        <container class="stats"> 
            <div class="all-scores">
                <%# <ul class="bullets"> %>
                <% @scoreboard.all_team_names_and_scores.each do |teamscore| %>
                    <span class="score">
                    <%= teamscore %>
                    </span>
                <% end %>
                <%# <ul> %>
            </div>
        </container>

        <container class="first-last">
            <div class="first-place">
                    <h4>In first place:</h4>
                    <p>Team <b><%= @scoreboard.winner %></b>!!!!! 😄</p>
                    <img src="https://media.giphy.com/media/glvyCVWYJ21fq/giphy.gif" alt="happy dance" id="happy-gif">
            </div><br>

            <div class="last-place">
                <h4>Bottom of the Barrel:</h4>
                <p>Team <b><%= @scoreboard.loser %></b>!!!!! 😢</p>
                <img src="https://media.giphy.com/media/26gQZVvtZ6TR1EMlW/source.gif" alt="sad face" id="sad-gif">
                <br>
            </div>
        </container>
    </container>
        

    <br>
    <h3>Stats by Category:</h3>

    <container class="categories">

        <div class="music-box">
            <h4><u>Entertainment: Music</u></h4>
                <% if @scoreboard.music_loser == @scoreboard.music_winner %>
                    <h5><%= @scoreboard.music_winner %>, you have no competitors yet...<br>
                    but you're in the lead!</h5>
                <% elsif @scoreboard.music_loser != @scoreboard.music_winner %>
                    <h5>Leading: <%= @scoreboard.music_winner %></h5>
                    <h5>Lowest: <%= @scoreboard.music_loser %></h5>
                <% end %>
            <h5>Average Score: <%= @scoreboard.music_average_score %></h5>
        </div>


        <div class="general-box">
            <h4><u>General Knowledge</u></h4>
                <% if @scoreboard.general_loser == @scoreboard.general_winner %>
                    <h5><%= @scoreboard.general_winner %>, you have no competitors yet...<br>
                    but you're in the lead!</h5>
                <% elsif @scoreboard.general_loser != @scoreboard.general_winner %>
                    <h5>Leading: <%= @scoreboard.general_winner %></h5>
                    <h5>Lowest: <%= @scoreboard.general_loser %></h5>
                <% end %>
            <h5>Average Score: <%= @scoreboard.general_average_score %></h5>
        </div>

        <div class="computer-box">
            <h4><u>Computer Programming</u></h4>
                <% if @scoreboard.computer_loser == @scoreboard.computer_winner %>
                    <h5><%= @scoreboard.computer_winner %>, you have no competitors yet...<br>
                    but you're in the lead!</h5>
                <% elsif @scoreboard.computer_loser != @scoreboard.computer_winner %>
                    <h5>Leading: <%= @scoreboard.computer_winner %></h5>
                    <h5>Lowest: <%= @scoreboard.computer_loser %></h5>
                <% end %>
            <h5>Average Score: <%= @scoreboard.computer_average_score %></h5>
        </div>

        <div class="tv-box">
            <h4><u>Entertainment: Television</u></h4>
                <% if @scoreboard.tv_loser == @scoreboard.tv_winner %>
                    <h5><%= @scoreboard.tv_winner %>, you have no competitors yet...<br>
                    but you're in the lead!</h5>
                <% elsif @scoreboard.tv_loser != @scoreboard.tv_winner %>
                    <h5>Leading: <%= @scoreboard.tv_winner %></h5>
                    <h5>Lowest: <%= @scoreboard.tv_loser %></h5>
                <% end %>
            <h5>Average Score: <%= @scoreboard.tv_average_score %></h5>
        </div>

        <div class="geo-box">
            <h4><u>Geography</u></h4>
                <% if @scoreboard.geo_loser == @scoreboard.geo_winner %>
                    <h5><%= @scoreboard.geo_winner %>, you have no competitors yet...<br>
                    but you're in the lead!</h5>
                <% elsif @scoreboard.geo_loser != @scoreboard.geo_winner %>
                    <h5>Leading: <%= @scoreboard.geo_winner %></h5>
                    <h5>Lowest: <%= @scoreboard.geo_loser %></h5>
                <% end %>
            <h5>Average Score: <%= @scoreboard.geo_average_score %> </h5>
        </div>

    </container>


    <p> <%= link_to "Go for another round!", teams_path %> <p>
        
</container>