<h3>Enter your answer</h3>

<%= form_for @answer do |f| %>
    
    <%= f.label :text %>
    <%= f.text_field :text %>
    

    <%= f.hidden_field :question_id, value: @question.id  %>


    <%= f.submit "Submit Answer"%>

<% end %>