<!DOCTYPE html>
<html>
  <head>
    <title>TriviaApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <container class="frame">

  <header>
    <nav>
      <h1 class="trivia-title">Trivia Time!</h1> 
    </nav>
  </header>
    <%= yield %>
    </container>
  </body>
</html>
